# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.nox/
*.tox/
*.coverage
*.coverage.*
*.py,cover
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
.dmypy.json
dask/
*.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# MLflow directories
mlruns/
logs/

# Environment files
.env
.venv/
venv/
ENV/
env/
Pipfile.lock
poetry.lock
*.lock

# Virtual environment
*.pyenv/
*.venv/
*.env/
venv/

# System files
.DS_Store
*.swp
*.swo